<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<title>博客管理</title>
<head th:replace="_fragment  :: head(~{ ::title})">
    <meta charset="UTF-8">
    <!-- 移动设备的浏览备注-->
    <meta name ="viewport" content="width=device - width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航-->
<!--inverted 代表反色 ui标注是引入了semantic ui 的样式 attached 是依附去除圆角-->
<nav th:replace="admin/_fragment :: menu(1)"  class = "ui inverted attached segment m-padded-tb-mini m-shadow-small"  >
<!--       使用css自定义文件改变样式的大小宽度-->
    <div class="ui container">
<!--   将内容放进container容器里-->
        <!--   ui menu是菜单-->
        <div class="ui inverted secondary stackable menu">
            <!--  使用h2给定一个标签 teal 是颜色 header样式-->
            <h2 class="ui teal header item ">管理后台</h2>
                <a href="#" class="m-item active item m-mobile-hide"><i class="heart icon"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="box icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                    <div class="right m-item  m-mobile-hide menu ">
                        <div class="ui dropdown item">
                            <div class="text">
                                <img src="../../static/images/lillard.png"  th:src="@{/images/lillard.png}" alt="" class="ui avatar image" >
                                    A大狗
                            </div>
                            <i class="dropdown icon"></i>
                                <div class="menu">
                                    <a href="#" th:href="@{/admin}" class="item">注销</a>
                                </div>
                        </div>
                    </div>

        </div>
    </div>
    <a href="#" class="ui  menu toggle button icon black m-top-right m-desktop-hide">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui attached menu">
    <div class="ui container">
        <div class="ui right menu">
            <a href="#" th:href="@{/admin/blogs}" class="item teal active">列表</a>
            <a href="#"  th:href="@{/admin/blogs/input}"  class="item ">发布</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-container-small m-padded-tb-large">
<!--    container是semantic自带的容器具有最适应的大小-->
    <div class="ui container">
<!--                需要提交的内容使用form-->
        <div class=" animated fadeIn">
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">操作成功!</p>
            </div>
        </div>
        <form action="#" method="post" class="ui segment stackable form">
            <div class="inline stackable fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="typeId">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class=" stackable menu">
                            <!--通过循环方法拿到type的对象-->
                            <div th:each="type : ${types}" data-value="1" th:data-value="${type.id}" th:text="${type.name}" class="item" >错误日志</div>
                            <!--<div class="item" data-value="2">开发日志</div>-->
                        </div>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui teal middle button">搜索</button>
                </div>
            </div>
        </form>
        <input type="hidden" name="page" >
        <!--把表格作为一个片段，动态刷新局部的页面-->
        <div id="table-container">
            <table th:fragment="blogList" class="ui compact table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>更新时间</th>
                </tr>
                </thead>
                <tboby>
                    <!--拿到其中一个对象content 循环在表格里渲染出来-->
                    <tr th:each="blog,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">零秒思考</td>
                        <td th:text="${blog.type.name}">深度学习</td>
                        <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2019-1-5</td>
                        <td>
                            <!--返回一个页面-->
                            <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui  teal button ">编辑</a>
                            <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}"  class="ui  red button ">删除</a>
                        </td>
                    </tr>
                </tboby>
                <tfoot>
                <tr>
                    <!--                colspan是合并单元格-->
                    <th colspan="6" >
                        <div class="ui left floated mini pagination stackable menu" th:if="${page.totalElements>1}">
                            <!--定义一个page方法的处理，因为如果使用href的方法,直接调用的是blogs中的方法
                           传递的值只能有网页的分页的页码,
                           ，上方查询数据的方法并不能传递过来-->
                            <a th:href="@{/admin/blogs(page=${page.number}-1)}"  th:unless="${page.first}" class="item">上一页</a>
                            <a th:href="@{/admin/blogs(page=${page.number}+1)}" th:unless="${page.last}" class="item">下一页</a>
                        </div>
                        <a href="#"  th:href="@{/admin/blogs/input}" class="ui button mini right floated teal basic ">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
<!--    使用grid来布局-->
</div>
<!--底部footer-->
<footer  class ="ui inverted vertical segment m-padded-tb-massive">
<!--   center aligned 把所有文本居中-->
    <div class="ui center aligned container">
<!--        把footer的部分分成几个部分总共有十六列-->
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="../../static/images/head.jpg" class="ui rounded image" alt="" style="width :110px" >
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header  m-text-spaced m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">qq:1946126897</a>
                    <a href="#" class="item">电话：15173913110</a>
                    <a href="#" class="item">邮箱：1946126897@qq.com</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">关于我</h4>
                <p class="m-text-thin m-opacity-mini">这是我的个人博客，我会在这里分享关于的学习，见解，思考，以及任何东西,Respect.</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2000 - 2020  Designed by X </p>
    </div>
</footer>
<!--<&#45;&#45;引入semantic ui 框架&ndash;&gt;-->
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--使用jquery获取,menu.toggle是一个标记，使jQuery能够找到这个button的位置-->
<script>
<!--建立一个click事件当点击的时候执行function-->
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown();

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

//    使用ajax请求提交post
    $("#search-btn").click(function () {
        loaddata();
    });

    function loaddata() {
        // /*[[@{admin/blogs/search}]]*/  特殊的方法请求地址
        $("#table-container").load(/*[[@{admin/blogs/search}]]*/"/admin/blogs/search",{
            title : $("[name='title']").val(),
            typeId : $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page : $("[name='page']").val()
        });
    }

$('.close')
    .click(function(){
        $(this)
            .closest('.message')
            .transition('fade');
    });
</script>
</body>
</html>